header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #00FF00;
    padding: 3px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: #000000;
    text-decoration: none;
    font: Kode Mono;
}

body {
    margin-top: 80px;
    background-color: #000000;
}