header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #00FF00;
    padding: 3px;
}

a {
    font-size: 16px;
}

p {
    font-size: 16px;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav a {
    color: #000000;
    text-decoration: none;
    font: "Kode Mono";
}

body {
    margin-top: 80px;
    background-color: #000000;
}


body p {
    color: #00FF00;
    font: "Kode Mono";
    font-size: 16px;
}

body h1 {
    color: #00FF00;
    font: "Kode Mono";
    text-align: center;
}

body h2 {
    color: #00FF00;
    font: "Kode Mono";
    text-align: right;
}

body header h1 {
    color: #000000;
    font: "Kode Mono";
    text-align: left;
}

hr {
    width: 70%;
    border: 1px solid #00FF00;
}

.container {
    display: flex;
    justify-content: center;
    gap: 60px;
}

.box a {
    color: #00FF00;
    text-decoration: underline;
}

.box img {
    display: block;
    margin-bottom: 10px;
}
.wrapper {
    display: flex;
    align-items: flex-start;
    margin-top: 80px;
}
.pcfotos {
    padding-top: 0px;
    padding-left: 50px;
    width: 300px;
    display: flex;
    
}
